/* external import  */
@import url('https://uivibe.netlify.app/styles/main.css');

@import "./utils.css";
/* project initials */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--default-font-size);
}

body {
  font-family: 'Josefin Sans', sans-serif;
  min-height: 100vh;
}