.product-filters{
    width: 20rem;
    background-color: var(--background);
    /* height: 100%; */
}

.filters-section{
    padding-top: 1rem;
    height: 100%;
}

.filters-title{
    text-align: center;
    font-weight: 600;
    font-size: larger;
    padding-top: 1rem;
}

.products-section{
    padding: 1rem 0 0 1.5rem;
    width: 100vw;
}

.filter-type{
    margin: 2rem 1rem;
    text-align: center;
}


.filter-subtype{
    padding: 0.5rem;
}

.btn-curved{
    display: none;
}

.modal{
    display: none;
}

.clear-filters{
    margin-left: 5rem;
}

.clear-filters:hover {
    background-color: var(--secondary-hover);
}

@media screen and (max-width: 450px) {
    .products{
        flex-direction: column;
    }

    .product-filters{
        width: 100%;
    }

    .filters-section{
        display: none;
    }

    .btn-curved{
        display: block;
    }

    .filters-title{
        display: none;
    }
}